.slider-wrapper
  .slider
    .slider_item
      = image_tag "frederik-falinski.jpg", class: "slider_image"
    .slider_item
      = image_tag "dose-juice.jpg", class: "slider_image"
    .slider_item
      = image_tag "luca-carra.jpg", class: "slider_image"
    .slider_item
      = image_tag "225791_01_ip_normal.jpg", class: "slider_image"
