.rooms-index
  .rooms-index_sidebar
    = render "index_sidebar"
  .rooms-index_main
    .rooms-index_main-bxslider
      = render "index_bxslider"
    .rooms-index_main-inner
      .roomIndex
        = render partial: "index_roomList", collection: @rooms, as: :room
