.rooms-index {
  display: flex;
  &_sidebar {
    width: 100vw-80;
    background: lighten($lightgray, 10%);
  }
  &_main {
    width: 100vw-20;
    background: lighten(#FFFFF0, 1%);
    &-inner {
      .roomIndex {
        margin: 9.5rem;
        background: lighten($lightgray, 14%);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        border-radius: 0.5rem;
        &-link {
          text-decoration: none;
          color: black;
        }
        &-item {
          width: 30rem;
          background: lighten($lightgray, 20%);
          margin: 1rem;
          padding: 1rem 0;
          font-size: 2rem;
          &_image {
          }
          &_bottom {
            &Name{
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin: 0 0.3rem;
              text-decoration: underline $darkgray;
            }
            &Rent {
              margin-right: 2rem;
              text-align: right;
              font-size: 1.8rem;
            }
            &Facility {
              height: 9rem;
              overflow: scroll;
              font-size: 1.5rem;
              padding: 0 1rem;
            }
          }
        }
        &-item:hover {
          color: darken($darkgray, 20%);
          opacity: 0.8;
        }
      }
    }
  }
}

