.sidebar-wrapper {
  .sidebar-list {
    width: 25rem;
    margin: 7rem auto 0;
    text-align: center;
    background: white;
    border-radius: 0.5rem;
    &-item {
      font-size: 1.7rem;
      font-family: Gothic;
      margin-bottom: 3rem;
      color: black;
      display: block;
      text-decoration: none;
    }
    &-item:hover {
      opacity: 0.5;
    }
  }
}
