.top-header_wrapper
  .top-header.clearfix
    .top-header_left
      .top-header_left-title
        ShowRoom
    %ul.top-header_right
      %li
        = link_to "HOME", "#", class: "top-header_right-item"
      %li
        = link_to "ABOUT", "#", class: "top-header_right-item"
      %li
        = link_to "LINK", "#", class: "top-header_right-item"
      %li
        = link_to "LIKE", "#", class: "top-header_right-item"
